In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\mikel\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (9.5.0)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: C:\Users\MIKEL\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [1]:
import mysql.connector as connector
import json

# 1. Connection to a MySQL database

In [52]:
contra = json.load(open('p_info.json'))['contrasenas']['mysql_root_password']

In [53]:
print(contra)

V2vamaIpst.

In [54]:
connection = connector.connect(
    user="root",
    password=contra,# aÃ±adir la passwqord
)

In [55]:
try:
    connection=connector.connect(
        user="wrong_user",
        password='wrong_password'
    )
except:
    print("""
    There was a problem connecting to the database.
    Please check your username or the password.
    """)

    There was a problem connecting to the database.
    Please check your username or the password.

In [56]:
try:
    connection=connector.connect(
        user="ameta",
        password="password",
        database = "no_database")

except connector.Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

Error code: 1045
Error message: Access denied for user 'ameta'@'localhost' (using password: YES)

In [57]:
cursor = connection.cursor()

# 2. Creating a database and tables

In [5]:
create_database_query = "CREATE DATABASE IF NOT EXISTS little_lemon"

In [6]:
cursor.execute(create_database_query)

In [7]:
use_database_query = "USE little_lemon"

In [8]:
cursor.execute(use_database_query)

In [9]:
create_menuitem_table_query = """
CREATE TABLE IF NOT EXISTS MenuItems (
ItemID INT PRIMARY KEY AUTO_INCREMENT,
Name VARCHAR(200) NOT NULL,
Type VARCHAR(100) NOT NULL,
Price INT NOT NULL
)
"""

In [10]:
cursor.execute(create_menuitem_table_query)

In [11]:
cursor.execute("show databases")
for database in cursor:
    print(database)

('information_schema',)
('little_lemon',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [12]:
# checking connection status
connection.database

'little_lemon'

In [13]:
cursor.execute("show tables;")
for table in cursor:
    print(table)

('menuitems',)
('menus',)

In [14]:
create_menu_table_query = """
CREATE TABLE IF NOT EXISTS Menus (
MenuID INT AUTO_INCREMENT,
ItemID INT,
Cuisine VARCHAR(100) NOT NULL,
PRIMARY KEY (MenuID, ItemID)
)
"""

In [15]:
cursor.execute(create_menu_table_query)

In [16]:
cursor.execute("show tables")
for table in cursor:
    print(table)

('menuitems',)
('menus',)

In [17]:
Create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [18]:
cursor.execute(Create_booking_table)

In [19]:
cursor.execute("show tables")
for table in cursor:
    print(table)

('bookings',)
('menuitems',)
('menus',)

In [20]:
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [22]:
cursor.execute(create_orders_table)

In [23]:
cursor.execute("show tables")
for table in cursor:
    print(table)

('bookings',)
('menuitems',)
('menus',)
('orders',)

# 3.Performing queries in MySQL using Python

## 3.1.Creating and reading data

In [50]:
# Setting little_lemon for use 
cursor.execute("use little_lemon")

# Confirming
print("Database is use is:", connection.database)
print()
print("The existing tables in the little_lemon database are:")
cursor.execute("SHOW TABLES") 
# Print table names 
for table in cursor: 
    print(table)

ProgrammingError: Cursor is not connected

In [ ]:
truncate_menuitems_query = "TRUNCATE TABLE MenuItems;"
cursor.execute(truncate_menuitems_query)

In [ ]:
# TASK 1
#*******************************************************#
# Insert query to populate "MenuItems" table is:
#*******************************************************#
insert_menuitmes="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table is:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table is:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table is:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

In [ ]:
print("Inserting data in MenuItems table.")
# Populate MenuItems table
cursor.execute(insert_menuitmes)
print("Total number of rows in MenuItem table: ", cursor.rowcount)
# Once the query is executed, you commit the change into the database 
connection.commit()

print("Inserting data in Menus table.")
# Populate MenuItems table
cursor.execute(insert_menu)
print("Total number of rows in Menu table: ", cursor.rowcount)
connection.commit()

print("Inserting data in Bookings table.")
# Populate Bookings table
cursor.execute(insert_bookings)
print("Total number of rows in Bookings table: ", cursor.rowcount)
connection.commit()

print("Inserting data in Orders table.")
# Populate Orders table
cursor.execute(insert_orders)
print("Total number of rows in Orders table: ", cursor.rowcount)
connection.commit()

Inserting data in MenuItems table.
Total number of rows in MenuItem table:  17
Inserting data in Menus table.
Total number of rows in Menu table:  12
Inserting data in Bookings table.
Total number of rows in Bookings table:  6
Inserting data in Orders table.
Total number of rows in Orders table:  5

In [ ]:
# TASK 2
# Read query is:
all_bookings = """SELECT GuestFirstName, GuestLastName, 
TableNo FROM bookings;"""

# Eexecute query 
cursor.execute(all_bookings)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Bookings" table:""")
print(cols)
for result in results:
    print(result)

Data in the "Bookings" table:
('GuestFirstName', 'GuestLastName', 'TableNo')
('Anna', 'Iversen', 12)
('Joakim', 'Iversen', 12)
('Vanessa', 'McCarthy', 19)
('Marcos', 'Romero', 15)
('Hiroki', 'Yamane', 5)
('Diana', 'Pinto', 8)

In [ ]:
# TASK 3
# Query to retrieve all bookings is: 
all_menus = """SELECT * FROM Menus;"""

# Execute query 
cursor.execute(all_menus)

# Fetch fist 3 records in results
results = cursor.fetchmany(size=3)

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Menu" table:""")
print(cols)
for result in results:
    print(result)

# option 2
# Query to retrieve only first three records from the bookings table is:
all_menus_limited = """SELECT * FROM Menus LIMIT 3;"""

# Execute query 
cursor.execute(all_menus_limited)

# Fetch fist 3 records in results
results = cursor.fetchall()   

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Menu" table:""")
print(cols)
for result in results:
    print(result)

Data in the "Menu" table:
('MenuID', 'ItemID', 'Cuisine')
(1, 1, 'Greek')
(1, 7, 'Greek')
(1, 10, 'Greek')

InternalError: Unread result found

In [ ]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

Connection is already closed

## 3.2.Updating and deleting records

In [ ]:
# Set the little_lemon database for use 
cursor.execute("use little_lemon")

# Confirming
print("Database is use is:", connection.database)

Database is use is: little_lemon

In [ ]:
# TASK 1
# The update query is:
update_bookings="""UPDATE Bookings
SET TableNo=10
WHERE BookingID = 6;"""

# Execute the query to update the table
print("Executing update query")
cursor.execute(update_bookings)

# Commit change 
print("Comitting change to the table")
connection.commit()
print("Record is updated in the table")

# The query to retrieve all bookings is: 
all_bookings = """SELECT * FROM Bookings;"""

# Execute query 
cursor.execute(all_bookings)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve the column names
cols = cursor.column_names

# print column names and the records from results using for loop
print("Data in the 'Bookings' table")
print(cols)
for result in results:  
    print(result)

Executing update query
Comitting change to the table
Record is updated in the table
Data in the 'Bookings' table
('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')
(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 10, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

In [ ]:
# TASK 2
# The update query is:
update_bookings="""UPDATE Bookings
SET TableNo=11, EmployeeID=6
WHERE BookingID = 2;"""

# Execute the query to update the table
print("Executing update query")
cursor.execute(update_bookings)

# Commit change 
print("Comitting change to the table")
connection.commit()
print("Record is updated in the table")

# The query to retrieve all bookings is: 
all_bookings = """SELECT * FROM Bookings;"""

# Execute query 
cursor.execute(all_bookings)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("Data in the 'Bookings' table")
print(cols)
for result in results:  
    print(result)

Executing update query
Comitting change to the table
Record is updated in the table
Data in the 'Bookings' table
('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')
(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 11, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 6)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 10, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

In [ ]:
# TASK 3
# The SQL query is:
delete_query_greek="""DELETE FROM Menus WHERE Cuisine = 'Greek'"""

# Execute the query
print("Executing 'DELETE' query")
cursor.execute(delete_query_greek)

# Commit change 
print("Comitting change to the table")
connection.commit()
print("The table is updated after deletion of the requested records")

# The query to retrieve records from Menus table is: 
all_menus = """SELECT * FROM Menus;"""

# Execute query 
cursor.execute(all_menus)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Menu" table:""")
print(cols)
for result in results:
    print(result)

Executing 'DELETE' query
Comitting change to the table
The table is updated after deletion of the requested records
Data in the "Menu" table:
('MenuID', 'ItemID', 'Cuisine')
(2, 3, 'Italian')
(2, 9, 'Italian')
(2, 12, 'Italian')
(2, 15, 'Italian')
(3, 5, 'Turkish')
(3, 11, 'Turkish')
(3, 16, 'Turkish')
(3, 17, 'Turkish')

In [ ]:
# Additional
delete_query_null="""DELETE FROM Bookings WHERE TableNo IS NULL;"""
cursor.execute(delete_query_null)

connection.commit()

In [ ]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.

## 3.3.Filtering and sorting data

In [ ]:
# use lemon database
cursor.execute("use little_lemon")

#confirming
print("Database is use is:", connection.database)

Database is use is: little_lemon

In [ ]:
# TASK 1

# The SQL query is:
filtering_and_sorting = """SELECT TableNo, 
GuestFirstName, GuestLastName, EmployeeID  
FROM Bookings 
WHERE TableNo= 12;"""

# Execute query
cursor.execute(filtering_and_sorting)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('TableNo', 'GuestFirstName', 'GuestLastName', 'EmployeeID')
(12, 'Anna', 'Iversen', 1)

In [ ]:
# TASK 2

# option 1

# Resetting cursor
#cursor.fetchall()

# The SQL query is:
filtering_and_sorting = """SELECT BookingID, BillAmount
FROM
Orders ORDER BY BillAmount DESC;"""

# Execute query
cursor.execute(filtering_and_sorting)

# Fetch records 
results = cursor.fetchmany(size=2)#fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

# Resetting cursor
cursor.fetchall()

# option 2
# The SQL query is:
filtering_and_sorting = """SELECT BookingID, BillAmount
FROM
Orders ORDER BY BillAmount DESC LIMIT 2;"""

# Execute query
cursor.execute(filtering_and_sorting)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('BookingID', 'BillAmount')
(1, 86)
(5, 43)
('BookingID', 'BillAmount')
(1, 86)
(5, 43)

In [ ]:
# TASK 3
# The SQL query is:
filtering_and_sorting = """SELECT * 
FROM MenuItems 
WHERE (Type = 'Starters' OR Type = 'Desserts')
ORDER BY Price ASC;"""

# Execute query
cursor.execute(filtering_and_sorting)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('ItemID', 'Name', 'Type', 'Price')
(12, 'Cheesecake', 'Desserts', 4)
(1, 'Olives', 'Starters', 5)
(2, 'Flatbread', 'Starters', 5)
(6, 'Hummus', 'Starters', 5)
(11, 'Ice cream', 'Desserts', 6)
(5, 'Falafel', 'Starters', 7)
(10, 'Greek yoghurt', 'Desserts', 7)
(3, 'Minestrone', 'Starters', 8)
(4, 'Tomato bread', 'Starters', 8)

In [ ]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.

## 3.4.Joining data from different tables

In [58]:
# Set little_lemon database for use 
cursor.execute("use little_lemon")

# Confirm the database in use
connection.database

'little_lemon'

In [59]:
# TASK 1
# The SQL query is:
join_query="""SELECT 
MenuItems.Name AS Item_Name, 
MenuItems.Type AS Item_Type, 
Menus.Cuisine AS Cuisine, 
MenuItems.Price AS Price 
FROM MenuItems 
INNER JOIN Menus ON MenuItems.ItemID=Menus.ItemID;"""

# Execute query
cursor.execute(join_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('Item_Name', 'Item_Type', 'Cuisine', 'Price')
('Minestrone', 'Starters', 'Italian', 8)
('Pizza', 'Main Courses', 'Italian', 15)
('Cheesecake', 'Desserts', 'Italian', 4)
('Turkish Coffee', 'Drinks', 'Italian', 10)
('Falafel', 'Starters', 'Turkish', 7)
('Ice cream', 'Desserts', 'Turkish', 6)
('Turkish Coffee', 'Drinks', 'Turkish', 10)
('Kabasa', 'Main Courses', 'Turkish', 17)

In [60]:
# TASK 2
# The SQL query is:
join_query="""SELECT 
MenuItems.Name AS Item_Name, 
MenuItems.Type AS Item_Type, 
Menus.Cuisine AS Cuisine, 
MenuItems.Price AS Price 
FROM MenuItems 
LEFT JOIN Menus ON MenuItems.ItemID=Menus.ItemID
WHERE Cuisine IS NULL;"""

# Execute query
cursor.execute(join_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('Item_Name', 'Item_Type', 'Cuisine', 'Price')
('Olives', 'Starters', None, 5)
('Flatbread', 'Starters', None, 5)
('Tomato bread', 'Starters', None, 8)
('Hummus', 'Starters', None, 5)
('Greek salad', 'Main Courses', None, 15)
('Bean soup', 'Main Courses', None, 12)
('Greek yoghurt', 'Desserts', None, 7)
('Athens White wine', 'Drinks', None, 25)
('Corfu Red Wine', 'Drinks', None, 30)

In [61]:
# TASK 3
# The SQL query is:
join_query="""SELECT 
Bookings.BookingID,
Bookings.TableNo,
Bookings.GuestFirstName,
Bookings.EmployeeID AS ServerID,
Orders.BillAmount
FROM Bookings
LEFT JOIN Orders ON Bookings.BookingID = Orders.BookingID;
"""

# Execute query
cursor.execute(join_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('BookingID', 'TableNo', 'GuestFirstName', 'ServerID', 'BillAmount')
(1, 12, 'Anna', 1, 86)
(2, 11, 'Joakim', 6, 37)
(3, 19, 'Vanessa', 3, 37)
(4, 15, 'Marcos', 4, 40)
(5, 5, 'Hiroki', 2, 43)
(6, 10, 'Diana', 5, None)

In [62]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.